<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">
    
        <!-- Footer Elements -->
        <div class="container">
    
          <!--Grid row-->
          <div class="row">
    
            <!--Grid column-->
            <div class="col-md-6 mb-4">
    
              <a class="ng-ic">
                <mdb-icon fab icon="fa-angular"></mdb-icon>
              </a>
              <p> 
                This site was built by me using Angular 6 and MDBootstrap
              </p>
    
            </div>
            <!--Grid column-->
    
            <div class="col-md-3 mb-4">
            </div>
            <!--Grid column-->
            <div class="col-md-3 mb-4">
    
              <!-- Github -->
              <a class="gh-ic" href="https://github.com/ajboard13">
                <mdb-icon fab icon="github" size="2x"  class="white-text mr-md-6 mr-3"></mdb-icon>
              </a>
              <!--Linkedin -->
              <a class="li-ic" href="https://www.linkedin.com/in/aaron-board/">
                  <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-6 mr-3"></mdb-icon>
              </a>
            </div>
            <!--Grid column-->
    
          </div>
          <!--Grid row-->
    
        </div>
        <!-- Footer Elements -->
    
      </footer>
      <!-- Footer -->