<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">
    
        <!-- Footer Elements -->
        <div class="container">
    
          <!--Grid row-->
          <div class="row">
    
            <!--Grid column-->
            <div class="col-md-6 mb-4">
    
              <!-- Form -->
              <form class="form-inline">
                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
                <i class="fas fa-search" aria-hidden="true"></i>
              </form>
              <!-- Form -->
    
            </div>
            <!--Grid column-->
    
            <div class="col-md-3 mb-4">
            </div>
            <!--Grid column-->
            <div class="col-md-3 mb-4">
    
              <!-- Facebook -->
              <a class="fb-ic">
                <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-6 mr-3"></mdb-icon>
              </a>
              <!--Linkedin -->
              <a class="li-ic">
                  <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-6 mr-3"></mdb-icon>
              </a>
            </div>
            <!--Grid column-->
    
          </div>
          <!--Grid row-->
    
        </div>
        <!-- Footer Elements -->
    
      </footer>
      <!-- Footer -->