
<!-- Main -->
<main>
  <!-- Grid row -->
  <div class="row" style="padding-bottom:16px">
    <!-- Grid column -->
    <div class="col-lg-2 col-md-2">
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-lg-8 col-md-8">
  
      <!--Card Regular-->
      <div class="card card-cascade">
  
        <!--Card image-->
        <div class="view view-cascade overlay">
          <img src="https://mdbootstrap.com/img/Photos/Others/men.jpg" class="card-img-top" alt="normal">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/.Card image-->
  
        <!--Card content-->
        <div class="card-body card-body-cascade text-center">
          <!--Title-->
          <h4 class="card-title"><strong>Aaron Board</strong></h4>
          <h5>Software Developer</h5>
  
          <p class="card-text">I am a software developer that is constantly looking to expand my knowledge and skills through a fun
              yet challenging work environment and personal projects. I love learning new approaches to solving
              difficult problems.
          </p>
  
          <div class="row">
              <div class="col-md-2"></div>
            <div class="col-md-4">
              <!--LinkedIn-->
              <a type="button" class="btn-floating btn-small btn-tw" style="font-size: 3rem"><i class="fab fa-linkedin"></i></a>
            </div>
            <div class="col-md-4">
              <!--Github-->
              <a type="button" class="btn-floating btn-small btn-dribbble" style="font-size: 3rem"><i class="fab fa-github"></i></a>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
        <!--/.Card content-->
  
      </div>
      <!--/.Card Regular-->
  
    </div>
    <!-- Grid column -->
    
    <!-- Grid column -->
    <div class="col-lg-2 col-md-2">
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->
        <div class="container" style="height:2500px;">
                <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                    <mdb-carousel-item>
                        <div class="view w-100">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
                        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                        </div>
                        <div class="carousel-caption">
                        <h3 class="h3-responsive">Light mask</h3>
                        <p>First text</p>
                        </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                        <div class="view w-100">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
                        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
                        </div>
                        <div class="carousel-caption">
                        <h3 class="h3-responsive">Strong mask</h3>
                        <p>Secondary text</p>
                        </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                        <div class="view w-100">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
                        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                        </div>
                        <div class="carousel-caption">
                        <h3 class="h3-responsive">Slight mask</h3>
                        <p>Third text</p>
                        </div>
                    </mdb-carousel-item>
                </mdb-carousel>
<!-- Projects section v.3 -->
<section class="my-5">
        
          <!-- Section heading -->
          <h2 class="h1-responsive font-weight-bold text-center my-5">Our best projects</h2>
          <!-- Section description -->
          <p class="grey-text text-center w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in
            voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit est laborum.</p>
        
          <!-- Grid row -->
          <div class="row">
        
            <!-- Grid column -->
            <div class="col-lg-5 mb-lg-0 mb-5">
              <!--Image-->
              <img src="https://mdbootstrap.com/img/Photos/Others/images/83.jpg" alt="Sample project image" class="img-fluid rounded z-depth-1">
            </div>
            <!-- Grid column -->
        
            <!-- Grid column -->
            <div class="col-lg-7">
        
              <!-- Grid row -->
              <div class="row mb-3">
                <div class="col-md-1 col-2">
                  <i class="fas fa-book fa-2x cyan-text"></i>
                </div>
                <div class="col-md-11 col-10">
                  <h5 class="font-weight-bold mb-3">Education</h5>
                  <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam,
                    aperiam
                    minima elit assumenda
                    voluptate velit.</p>
                </div>
              </div>
              <!-- Grid row -->
        
              <!-- Grid row -->
              <div class="row mb-3">
                <div class="col-md-1 col-2">
                  <i class="fas fa-code fa-2x red-text"></i>
                </div>
                <div class="col-md-11 col-10">
                  <h5 class="font-weight-bold mb-3">Technology</h5>
                  <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam,
                    aperiam
                    minima elit assumenda
                    voluptate velit.</p>
                </div>
              </div>
              <!-- Grid row -->
        
              <!-- Grid row -->
              <div class="row">
                <div class="col-md-1 col-2">
                  <i class="far fa-money-bill-alt fa-2x deep-purple-text"></i>
                </div>
                <div class="col-md-11 col-10">
                  <h5 class="font-weight-bold mb-3">Finance</h5>
                  <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores
                    nam,
                    aperiam minima elit assumenda
                    voluptate velit.</p>
                </div>
              </div>
              <!-- Grid row -->
        
            </div>
            <!-- Grid column -->
        
          </div>
          <!-- Grid row -->
        
          <hr class="my-5">
        
          <!-- Grid row -->
          <div class="row">
        
            <!-- Grid column -->
            <div class="col-lg-7">
        
              <!-- Grid row -->
              <div class="row mb-3">
                <div class="col-md-1 col-2">
                  <i class="fas fa-chart-bar fa-2x indigo-text"></i>
                </div>
                <div class="col-md-11 col-10">
                  <h5 class="font-weight-bold mb-3">Marketing</h5>
                  <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam,
                    aperiam
                    minima elit assumenda
                    voluptate velit.</p>
                </div>
              </div>
              <!-- Grid row -->
        
              <!-- Grid row -->
              <div class="row mb-3">
                <div class="col-md-1 col-2">
                  <i class="fas fa-music fa-2x pink-text"></i>
                </div>
                <div class="col-md-11 col-10">
                  <h5 class="font-weight-bold mb-3">Entertainment</h5>
                  <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam,
                    aperiam
                    minima elit assumenda
                    voluptate velit.</p>
                </div>
              </div>
              <!-- Grid row -->
        
              <!-- Grid row -->
              <div class="row mb-lg-0 mb-5">
                <div class="col-md-1 col-2">
                  <i class="far fa-smile fa-2x blue-text"></i>
                </div>
                <div class="col-md-11 col-10">
                  <h5 class="font-weight-bold mb-3">Communication</h5>
                  <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores
                    nam,
                    aperiam minima elit assumenda
                    voluptate velit.</p>
                </div>
              </div>
              <!-- Grid row -->
        
            </div>
            <!-- Grid column -->
        
            <!-- Grid column -->
            <div class="col-lg-5">
              <!--Image-->
              <img src="https://mdbootstrap.com/img/Photos/Others/images/82.jpg" alt="Sample project image" class="img-fluid rounded z-depth-1">
            </div>
            <!-- Grid column -->
        
          </div>
          <!-- Grid row -->
        
        </section>
        <!-- Projects section v.3 -->

    </div>
</main>
<!-- /.Main -->