
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="h1-responsive font-weight-bold text-center my-5">Experience</h2>
      <p class="grey-text text-center w-responsive mx-auto mb-5">This section higlights my experience, both professional and personal.</p>
<div class="text-center">

  <button class="btn btn-primary waves-light" type="button" (click)=" collapseOthers(); mjExp.toggle();" mdbWavesEffect>
    Moosejaw Mountaineering
  </button>

  <button class="btn btn-primary waves-light" type="button" (click)=" collapseOthers(); beaumontExp.toggle()" mdbWavesEffect>
    Royal Oak Beaumont
  </button>

  <button class="btn btn-primary waves-light" type="button" (click)=" collapseOthers(); otherExp.toggle()" mdbWavesEffect>
    Others
  </button>
</div>

<div mdbCollapse [isCollapsed]="false" #mjExp="bs-collapse">    
  <!-- News jumbotron -->
  <div class="jumbotron text-center hoverable p-4" >
  
      <!-- Grid row -->
      <div class="row">
    
        <!-- Grid column -->
        <div class="col-md-4 offset-md-1 mx-3 my-3">
    
          <!-- Featured image -->
          <div class="view overlay waves-light" mdbWavesEffect>
            <img src="assets/images/Moosejaw.jpg" class="img-fluid" alt="Moosejaw Mountaineering">
            <a href="https://www.moosejaw.com">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
    
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-md-7 text-md-left ml-3 mt-3">
    
          <h4 class="h4 mb-4">E-commerce Java Developer</h4>
          
          <h6 class="h6 pb-1"><i class="fas fa-clock pr-1"></i> September 2017 - Present</h6>
    
          <!-- Grid row -->
          <div class="row mb-3">
            <div class="col-md-1 col-2">
              <i class="fas fa-book fa-2x cyan-text"></i>
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">My Experience</h5>
              <p class="grey-text">This was My first and current development job after completing the Grand Circus Java Bootcamp. 
                It was a bit of a learning curve moving on to enterprise code from smaller projects. But I adjusted quickly and was making commits after
              the first week.
             </p>
             <p class="grey-text">Fortunately, it is a smaller Dev-Ops team and I get to work in many different areas. I have gained a better understanding
               of system administration as well because of this.
             </p>
            </div>
          </div>
          <!-- Grid row -->
          
          <!-- Grid row -->
          <div class="row mb-3">
              <div class="col-md-1 col-2">
                <i class="fas fa-trophy fa-2x yellow-text"></i>
              </div>
              <div class="col-md-11 col-10">
                <h5 class="font-weight-bold mb-3">Notable Achievments</h5>
                <ul class="list-group">
                    <li class="list-group-item">Working with Spring MVC to convert monolithic codebase to Microservices</li>
                    <li class="list-group-item">Many bug fixes to production code</li>
                    <li class="list-group-item">Implementation of a new tax calculation service</li>
                    <li class="list-group-item">Migrating legacy URLs to a more SEO-friendly structure</li>
                  </ul>
              </div>
            </div>
            <!-- Grid row -->
    
          <!-- Grid row -->
          <div class="row mb-3">
            <div class="col-md-1 col-2">
              <i class="fas fa-code fa-2x red-text"></i>
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Technology</h5>
              <ul class="list-group">
                  <li class="list-group-item">Spring MVC</li>
                  <li class="list-group-item">IBM Websphere Commerce</li>
                  <li class="list-group-item">DB2</li>
                  <li class="list-group-item">JDBC</li>
                  <li class="list-group-item">Git/SVN</li>
                  <li class="list-group-item">JPAs</li>
                  <li class="list-group-item">Microservices</li>
                  <li class="list-group-item">Vim</li>
                </ul>
            </div>
          </div>
          <!-- Grid row -->
    
        </div>
        <!-- Grid column -->
    
      </div>
      <!-- Grid row -->
    
    </div>
    <!-- News jumbotron -->
</div>

<div mdbCollapse [isCollapsed]="false" #beaumontExp="bs-collapse">    
   <!-- News jumbotron -->
   <div class="jumbotron text-center hoverable p-4" >
      
          <!-- Grid row -->
          <div class="row">
        
            <!-- Grid column -->
            <div class="col-md-4 offset-md-1 mx-3 my-3">
        
              <!-- Featured image -->
              <div class="view overlay waves-light" mdbWavesEffect>
                <img src="assets/images/beaumont.jpg" class="img-fluid" alt="Moosejaw Mountaineering">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
        
            </div>
            <!-- Grid column -->
        
            <!-- Grid column -->
            <div class="col-md-7 text-md-left ml-3 mt-3">
        
              <h4 class="h4 mb-4">Radiology Aide</h4>
              
              <h6 class="h6 pb-1"><i class="fas fa-clock pr-1"></i> August 2016 - May 2017</h6>
        
              <!-- Grid row -->
              <div class="row mb-3">
                <div class="col-md-1 col-2">
                  <i class="fas fa-book fa-2x cyan-text"></i>
                </div>
                <div class="col-md-11 col-10">
                  <h5 class="font-weight-bold mb-3">My Experience Here</h5>
                  <p class="grey-text">Worked midnights here full-time while attending classes full-time. 
                    It was tough balancing both but I managed to pull it off fine.
                 </p>
                </div>
              </div>
              <!-- Grid row -->
              
              <!-- Grid row -->
              <div class="row mb-3">
                  <div class="col-md-1 col-2">
                    <i class="fas fa-trophy fa-2x yellow-text"></i>
                  </div>
                  <div class="col-md-11 col-10">
                    <h5 class="font-weight-bold mb-3">Notable Achievments</h5>
                    <ul class="list-group">
                        <li class="list-group-item">Working with Epic software system to schedule X-Rays for emergency room patients</li>
                        <li class="list-group-item">Assisted radiology techs in taking images</li>
                        <li class="list-group-item">Uploaded outside consultations for Radiologists to use</li>
                      </ul>
                  </div>
                </div>
                <!-- Grid row -->
        
            </div>
            <!-- Grid column -->
        
          </div>
          <!-- Grid row -->
        
        </div>
        <!-- News jumbotron -->
  </div>

  <div mdbCollapse [isCollapsed]="false" #otherExp="bs-collapse">    
      <!-- News jumbotron -->
      <div class="jumbotron text-center hoverable p-4" >
    
        <!-- Grid row -->
        <div class="row">
      
          <!-- Grid column -->
          <div class="col-md-4 offset-md-1 mx-3 my-3">
      
      
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col-md-7 text-md-left ml-3 mt-3">
      
            <h3 class="h3 mb-4">Oakland University</h3>

            <h4 class="h4 mb-4">IT Assistant</h4>
            
            <h6 class="h6 pb-1"><i class="fas fa-clock pr-1"></i> September 2014 - April 2016</h6>
      
              <!-- Grid row -->
              <div class="row mb-3">
                <div class="col-md-1 col-2">
                  <i class="fas fa-book fa-2x cyan-text"></i>
                </div>
                <div class="col-md-11 col-10">
                  <h5 class="font-weight-bold mb-3">My Experience Here</h5>
                  <p class="grey-text">Part of my work-study program, I worked part time as an assistant in the computer lab for the Health Science Building.
                    If someone had troubles with a computer such as printing issues or trouble logging in, I would help.
                  </p>
                </div>
              </div>
              <!-- Grid row -->
                
            
      
          </div>
          <!-- Grid column -->
      
        </div>
        <!-- Grid row -->
      
      </div>
      <!-- News jumbotron -->
      <!-- News jumbotron -->
      <div class="jumbotron text-center hoverable p-4" >
         
             <!-- Grid row -->
             <div class="row">
           
               <!-- Grid column -->
               <div class="col-md-4 offset-md-1 mx-3 my-3">
           
           
               </div>
               <!-- Grid column -->
           
               <!-- Grid column -->
               <div class="col-md-7 text-md-left ml-3 mt-3">
           
                  <h3 class="h3 mb-4">Chili's Bar and Grill</h3>

                 <h4 class="h4 mb-4">Server</h4>
                 
                 <h6 class="h6 pb-1"><i class="fas fa-clock pr-1"></i> January 2015 - August 2016</h6>
                 <!-- Grid row -->
                 <div class="row mb-3">
                   <div class="col-md-1 col-2">
                     <i class="fas fa-book fa-2x cyan-text"></i>
                   </div>
                   <div class="col-md-11 col-10">
                     <h5 class="font-weight-bold mb-3">My Experience Here</h5>
                     <p class="grey-text">My time as a server has taught me much in the way of communication skills and patience. 
                       Having to serve people from all walks of life has made me more confident when working with others in a group.
                     </p>
                   </div>
                 </div>
                 <!-- Grid row -->
                   
           
                 
           
               </div>
               <!-- Grid column -->
           
             </div>
             <!-- Grid row -->
           
           </div>
           <!-- News jumbotron -->
    </div>
  </div>
</div>