
<div class="jumbotron text-center hoverable p-4">
<!-- Projects section v.3 -->
<section class="my-5">
  
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Projects</h2>
    <!-- Section description -->
    <p class="grey-text text-center w-responsive mx-auto mb-5">Over the past few years, I have worked on many projects utilizing a variety of 
      different technologies. Most projects done were personal projects used to teach myself a new technology.
      He has made mobile, web, and command line applications. They can all be found on his github through the link below. But a few of the larger ones will be 
      highlighted in this section.
    </p>
    <div class="row" style="padding-bottom:4em">
      <div class="col-lg-4 col-md-4 col-sm-4"></div>
      <div class="col-lg-4 col-md-4 col-sm-4 text-center">
        <!--Github-->
        <a type="button" class="btn-floating btn-small btn-dribbble" href="https://github.com/ajboard13" style="font-size: 3rem; color: darkslategray"><i class="fab fa-github"></i></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4"></div>
    </div>
  
<div class="jumbotron text-center hoverable p-4">
    <!-- Grid row -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="padding-bottom:1em;">
          <h2 class="h1-responsive font-weight-bold text-center my-5">GC Buddy</h2>
        </div>
  
      <!-- Grid column -->
      <div class="col-lg-5 mb-lg-0 mb-5">
        <!--Image-->
        <img src="../../assets/images/grand-circus.jpg" alt="Grand Circus Detroit" class="img-fluid rounded z-depth-1">
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Grid row -->
        <div class="row mb-3">
          <div class="col-md-1 col-2">
            <i class="fas fa-book fa-2x cyan-text"></i>
          </div>
          <div class="col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Skills Gained</h5>
            <p class="grey-text">This was submitted as the final project for my bootcamp at Grand Circus. Working in a group with three others taught me 
              to pair=program and colloborate to meet certain requirements. This was also my first real full-stack application. I learned a lot on what it takes
            to build a web application and maintain a shared code base. </p>
          </div>
        </div>
        <!-- Grid row -->
  
        <!-- Grid row -->
        <div class="row mb-3">
          <div class="col-md-1 col-2">
            <i class="fas fa-code fa-2x red-text"></i>
          </div>
          <div class="col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Technology</h5>
            <ul class="list-group">
                <li class="list-group-item">Spring MVC</li>
                <li class="list-group-item">Hibernate</li>
                <li class="list-group-item">MySQL</li>
                <li class="list-group-item">JDBC</li>
                <li class="list-group-item">Git</li>
              </ul>
          </div>
        </div>
        <!-- Grid row -->
  
        <!-- Grid row -->
        <div class="row">
          <div class="col-md-1 col-2">
          </div>
          <div class="col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Github</h5>
            <a type="button" class="btn-floating btn-small btn-dribbble" href="https://github.com/fbaraka/GCBuddy" style="font-size: 3rem; color: darkslategray"><i class="fab fa-github"></i></a>            
          </div>
        </div>
        <!-- Grid row -->
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
</div>
  
    <hr class="my-5">
  
<div class="jumbotron text-center hoverable p-4">
    <!-- Grid row -->
    <div class="row">
  
      <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="padding-bottom:1em;">
        <h2 class="h1-responsive font-weight-bold text-center my-5">Dominion Tracker</h2>
      </div>
      <!-- Grid column -->
      <div class="col-lg-7">
  
  
        <!-- Grid row -->
        <div class="row mb-3">
            <div class="col-md-1 col-2">
              <i class="fas fa-book fa-2x cyan-text"></i>
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Skills Gained</h5>
              <p class="grey-text">I took on this project to help teach myself the angular front-end framework. It is an app that is used to keep track of wins
                between my friends and I for a game called Dominion. I also incorporated Google's Firebase as a backend service.
               </p>
            </div>
          </div>
          <!-- Grid row -->
    
          <!-- Grid row -->
          <div class="row mb-3">
            <div class="col-md-1 col-2">
              <i class="fas fa-code fa-2x red-text"></i>
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Technology</h5>
              <ul class="list-group">
                  <li class="list-group-item">Angular CLI</li>
                  <li class="list-group-item">Firebase</li>
                  <li class="list-group-item">OAuth</li>
                  <li class="list-group-item">Git</li>
                </ul>
            </div>
          </div>
          <!-- Grid row -->
    
          <!-- Grid row -->
          <div class="row">
            <div class="col-md-1 col-2">
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Github</h5>
              <a type="button" class="btn-floating btn-small btn-dribbble" href="https://github.com/ajboard13/LearnAngular4FromScratch-Udemy" style="font-size: 3rem; color: darkslategray"><i class="fab fa-github"></i></a>            
            </div>
          </div>
          <!-- Grid row -->
    
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-5">
        <!--Image-->
        <img src="../../assets/images/dominion.jpg" alt="Dominion card game" class="img-fluid rounded z-depth-1">
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
</div>
  
  </section>
  <!-- Projects section v.3 -->
</div>