
<div class="jumbotron text-center hoverable p-4">
    <!-- Projects section v.3 -->
    <section class="my-5">
      
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-5">Background</h2>
        <!-- Section description -->

        <p class="grey-text text-center w-responsive mx-auto mb-5">
            I got into software development just by sort of stumbling upon it. It was winter of 2015, I have always been pretty computer-savvy but I have never really done 
            anything on the software side befo
          </p>
        <p class="grey-text text-center w-responsive mx-auto mb-5">
          I am a hardworking individual, but I also have a bunch of hobbies I like to do in my free time. 
        </p>
    
      
    <div class="jumbotron text-center hoverable p-4">
        <!-- Grid row -->
        <div class="row">
      
          <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="padding-bottom:1em;">
            <h2 class="h1-responsive font-weight-bold text-center my-5">Camping</h2>
          </div>
          <!-- Grid column -->
          <div class="col-lg-7">
      
      
            <!-- Grid row -->
            <div class="row mb-3">
                <div class="col-md-1 col-2">
                </div>
                <div class="col-md-11 col-10">
                  <h5 class="font-weight-bold mb-3">Backpacking</h5>
                  <p class="grey-text">I took up an interest in backpacking in the paste few years and I love every second of it.
                    Really being outdoors and far from technology can be very refreshing for someone who works with it on a daily basis. This past year a 
                    couple of my friends and I backpacked Isle Royale!
                   </p>
                   <p class="grey-text">Even though we didn't see any moose, we still had a blast!
                    </p>
                </div>
              </div>
              <!-- Grid row -->
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col-lg-5">
            <!--Image-->
            <img src="../../assets/images/isle-royale.jpg" alt="My favorite view from Isle Royale" class="img-fluid rounded z-depth-1">
          </div>
          <!-- Grid column -->
      
        </div>
        <!-- Grid row -->
    </div>
      
      </section>
      <!-- Projects section v.3 -->
    </div>