
    <!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-md-4 offset-md-1 mx-3 my-3">
  
        <!-- Featured image -->
        <div class="view overlay waves-light" mdbWavesEffect>
          <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-7 text-md-left ml-3 mt-3">
  
        <!-- Excerpt -->
  
        <h1 class="display-4">Aaron Board</h1>
        <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> Software Developer</h6>
  
        <p class="font-weight-normal">I am a software developer that is constantly looking to expand my knowledge and skills through a fun
          yet challenging work environment and personal projects. I love learning new approaches to solving
          difficult problems.
        </p>
        <p class="font-weight-normal">
          Over the past few years he has taken on many challenges, profesional and otherwise, with a positive attitude.
        </p>
  
          <div class="row" style="padding-top:3em;">
              <div class="col-md-2 col-sm-4"></div>
            <div class="col-md-4 col-sm-2">
              <!--LinkedIn-->
              <a type="button" class="btn-floating btn-small btn-tw" href="https://www.linkedin.com/in/aaron-board/" style="font-size: 3rem"><i class="fab fa-linkedin"></i></a>
            </div>
            <div class="col-md-4 col-sm-2">
              <!--Github-->
              <a type="button" class="btn-floating btn-small btn-dribbble" href="https://github.com/ajboard13" style="font-size: 3rem; color: darkslategray"><i class="fab fa-github"></i></a>
            </div>
            <div class="col-md-2 col-sm-4"></div>
          </div>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </div>
  <!-- News jumbotron -->